@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

