@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

/* Search bar */
header{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
}

.search::placeholder{
    color: #7378c5;
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}

    /* Page Title*/

.page-info{
    text-align: center;
    margin: 10px;
    color: lightgray;
    margin-bottom: 30px;
}

.page-title {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
}

.page-subtitle {
    font-size: 16px;
    margin: 0;
}
    /*Movie Banners*/

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 200px;
    margin: 14px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

        /*Movie Banners Info*/


.movie-info {
    color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 7px 14px 14px;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    height: 32px;
}

        /*Movie Rate - Colors*/

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.red {
    color: red;
}

.movie-info span.orange {
    color: orange;
}

        /* Movie Overview | Hover */

.overview{
    background-color: #fff;
    padding: 28px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease;
    font-size: 10px;
    border-radius: 5px;
}

.movie:hover .overview{
    transform: translateY(0);
   

}