@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}